* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.btn {
    background-color: #6415ff;
    color: #f7fafc;
    padding: 12px 32px;
    font-size: 14px;
    border-radius: 9999px;
    border: none;
  }

nav {
width: 100%;
max-width: 1200px;
margin: 0 auto;
background-color: #fff ;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
    margin: 24px;
}

.nav__links {
    display: flex;
}

.nav__link {
    text-decoration: none;
    margin: 0 24px;
    padding: 0 0 4px 0;
}